In [1]:
a =[2,3,5,7,9,34,66,86]
for i in a:
    print(i)

2
3
5
7
9
34
66
86

In [2]:
for i in "hemant":
    print(i)

h
e
m
a
n
t

range(1,10,1) in this start value is 1 and goes to less than 10 and increment by 1

In [3]:
#for i = 1; i<=10, i++
for i in range(1,10,1):
    print(i)

1
2
3
4
5
6
7
8
9

In [10]:
for i in range(0,len(a)):
    print(i)

0
1
2
3
4
5
6
7

In [13]:
for i in range(0,len(a)):
    print(a[i])

2
3
5
7
9
34
66
86

In [15]:
length = len(a)
for i in range(0,length,1):
    print(a[i])

2
3
5
7
9
34
66
86

In [26]:
a = [1,2,3,-1,0,2,4,0,-3,-9]
for i in range(len(a)):
    if a[i]%2==0:
        print(a[i])

2
0
2
4
0

In [28]:
a = [1,2,3,-1,0,2,4,0,-3,-9]
for i in range(len(a)):
    if a[i]%2!=0:
        print(a[i])

1
3
-1
-3
-9

In [32]:
# 2 X 1 = 2
# 2 X 2 = 4
# 2 X 3 = 6
# 2 x 4 = 8
# 2 x 5 = 10
n = 2
for i in range (1,11):
    print(f'2 X {i} ={n*i}')

2 X 1 =2
2 X 2 =4
2 X 3 =6
2 X 4 =8
2 X 5 =10
2 X 6 =12
2 X 7 =14
2 X 8 =16
2 X 9 =18
2 X 10 =20

In [34]:
n = int(input("ENTER THE VALUE "))
for i in range (1,11):
    print(f'{n} X {i} ={n*i}')

8 X 1 =8
8 X 2 =16
8 X 3 =24
8 X 4 =32
8 X 5 =40
8 X 6 =48
8 X 7 =56
8 X 8 =64
8 X 9 =72
8 X 10 =80

using break

In [35]:
n = int(input("ENTER THE VALUE "))
for i in range (1,11):
    if i == 7:
        break
    print(f'{n} X {i} ={n*i}')

8 X 1 =8
8 X 2 =16
8 X 3 =24
8 X 4 =32
8 X 5 =40
8 X 6 =48

In [ ]:
using continue

In [36]:
n = int(input("ENTER THE VALUE "))
for i in range (1,11):
    if i == 7:
        continue
    print(f'{n} X {i} ={n*i}')

7 X 1 =7
7 X 2 =14
7 X 3 =21
7 X 4 =28
7 X 5 =35
7 X 6 =42
7 X 8 =56
7 X 9 =63
7 X 10 =70