In [48]:
student = {
    "name":"hemant",
    "address": "koteswor",
    "phone":9868,
    "subject" : ['math','python','web']
    }
student

{'name': 'hemant',
 'address': 'koteswor',
 'phone': 9868,
 'subject': ['math', 'python', 'web']}

In [49]:
student ['name']="breakpoint"
student

{'name': 'breakpoint',
 'address': 'koteswor',
 'phone': 9868,
 'subject': ['math', 'python', 'web']}

In [50]:
student['testting_name']="rawal"
student

{'name': 'breakpoint',
 'address': 'koteswor',
 'phone': 9868,
 'subject': ['math', 'python', 'web'],
 'testting_name': 'rawal'}

Add new key and key value

In [51]:
student['lastname']="rawal"#its help to add new key and value
student

{'name': 'breakpoint',
 'address': 'koteswor',
 'phone': 9868,
 'subject': ['math', 'python', 'web'],
 'testting_name': 'rawal',
 'lastname': 'rawal'}

key dekhauney

In [52]:
student.keys()

dict_keys(['name', 'address', 'phone', 'subject', 'testting_name', 'lastname'])

values dekhaune

In [53]:
student.values(
)

dict_values(['breakpoint', 'koteswor', 9868, ['math', 'python', 'web'], 'rawal', 'rawal'])

In [54]:
student.values()

dict_values(['breakpoint', 'koteswor', 9868, ['math', 'python', 'web'], 'rawal', 'rawal'])

if there is keys the change the value of key

In [55]:
student.update({
    "name":"alfa"
})
student

{'name': 'alfa',
 'address': 'koteswor',
 'phone': 9868,
 'subject': ['math', 'python', 'web'],
 'testting_name': 'rawal',
 'lastname': 'rawal'}

In [56]:
student.update({
    'address':'mahadevstan',
    'lastname':'bist',
    'lastname1':'rawal'
})
student

{'name': 'alfa',
 'address': 'mahadevstan',
 'phone': 9868,
 'subject': ['math', 'python', 'web'],
 'testting_name': 'rawal',
 'lastname': 'bist',
 'lastname1': 'rawal'}

In [57]:
print(student.get('address'))

mahadevstan

if eee key xa bhane dey values natra print hemant

In [58]:
print(student.get('eee','hemant'))

hemant

In [59]:
student.update({
    'name':'hemant'
})
print(student)

{'name': 'hemant', 'address': 'mahadevstan', 'phone': 9868, 'subject': ['math', 'python', 'web'], 'testting_name': 'rawal', 'lastname': 'bist', 'lastname1': 'rawal'}

In [60]:
student.update({
    'name':'hemant'
})
print(student)

{'name': 'hemant', 'address': 'mahadevstan', 'phone': 9868, 'subject': ['math', 'python', 'web'], 'testting_name': 'rawal', 'lastname': 'bist', 'lastname1': 'rawal'}

In [61]:
# student.pop(address)
# student

remove dict values one by one from last

In [62]:
student.popitem()
student

{'name': 'hemant',
 'address': 'mahadevstan',
 'phone': 9868,
 'subject': ['math', 'python', 'web'],
 'testting_name': 'rawal',
 'lastname': 'bist'}

copy the value of student in testing_copy

In [65]:
testing_copy = student.copy
testing_copy

nested dicts

In [3]:
#nested dicts
customer ={
    "name":"hemant",
    "address":"tikapur",
    "phone":{
        "service_provider":"NTC",
        "phone":"9865734152"
    }
}
customer["phone"]["phone"]

'9865734152'

In [6]:
data ={
    "name":"hemant",
    "address":"tikapur",
    "phone":[
        {
          "service_provider":"NTC",
          "phone":9865734152
        },
        {
          "service_provider":"NCELL",
          "phone":980637547
        }
        ]
}
data["phone"][1]["service_provider"]

'NCELL'

In [9]:
data ={
    "name":"hemant",
    "address":"tikapur",
    "phone":[
        {
          "service_provider":"NTC",
          "phone":9865734152
        },
        {
          "service_provider":"NCELL",
          "phone":980637547
        }
        ],
        "customer":customer
}
data

{'name': 'hemant',
 'address': 'tikapur',
 'phone': [{'service_provider': 'NTC', 'phone': 9865734152},
  {'service_provider': 'NCELL', 'phone': 980637547}],
 'customer': {'name': 'hemant',
  'address': 'tikapur',
  'phone': [{'service_provider': 'NTC', 'phone': 9865734152},
   {'service_provider': 'NCELL', 'phone': 980637547}]}}

In [13]:
data ={
    "name":"hemant",
    "address":"tikapur",
    "phone":[
        {
          "service_provider":"NTC",
          "phone":9865734152
        },
        {
          "service_provider":"NCELL",
          "phone":980637547
        }
        ]
}
data["customer"]:customer
data

{'name': 'hemant',
 'address': 'tikapur',
 'phone': [{'service_provider': 'NTC', 'phone': 9865734152},
  {'service_provider': 'NCELL', 'phone': 980637547}]}